* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  font-family: "Inter", "Arial", sans-serif;
}

.theme-selector {
  box-shadow: none;
  margin-right: auto;
}

/* .theme-selector:focus select:focus {
  outline: none;
} */

#theme-names,
.theme-option {
  font-size: 14px;
  background-color: rgba(248, 248, 248, 0);
  opacity: 0.6;
  border-radius: 4px;
}

.editor, 
.view-panel {
  border-radius: 8px;
  margin: 10px 10px 10px 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  min-width: 90vw;
  max-width: 90vw;
  min-height: 40vh;
  max-height: 40vh;
}
.view-panel {
  background: rgb(250, 250, 250);
  padding: 12px 24px;
  word-wrap: break-word;
  overflow: auto;
}

/* ──────────────────────────────────────────────────────────────────────────────── */

/* When the screen is bigger than 800px */
@media screen and (min-width: 900px) {
  .editor-and-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
  }

  .editor {
    margin-right: 5px;
  }

  .view-panel {
    margin-left: 5px;
  }

  .editor, 
  .view-panel {
    min-width: 45vw;
    max-height: 80vh;
  }
}

/* ──────────────────────────────────────────────────────────────────────────────── */

body {
  background-color: rgb(250, 250, 250);
  font-family: Inter;
}

.App .navbar {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.navbar-brand {
  font-weight: 700;
  color: #2F4F4F;
}

.App {
  color: #2F4F4F;
}

.fa-paint-roller {
  color: #2F4F4F;
  margin-right: 10px;
}

.page {
  height: 100vh;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fa-arrow-down {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

.navbar-brand-header {
  font-weight: 800;
}

.navbar-brand-title {
  margin-left: 10px;
}

.landing-page-header h1{
  font-weight: 800;
  font-size: spx;
}

.landing-page-header h2 {
  font-size: 24px;
}

.App {
  background: linear-gradient(180deg, rgb(126, 202, 116), rgb(108, 161, 230));
}

.scrolled {
  background-color: rgb(248, 248, 248);
  box-shadow: 0px 0px 20px 0px rgb(158, 158, 158);
  transition: all 0.2s ease-in-out;
}

.top {
  background-color: transparent;
  display: none;
  transition: all 0.2s ease-in-out;
}